{% extends "layout.html"%}

{% block content %}
 <div>
     <h1>AMC + APE</h1>
     <div class="regularPrice">{{data}}</div>
     <div class="center"><p>Only regular market prices are displayed at this moment!!</p></div>
     <div class="center"><button class="button-24" role="button"><p>Refresh</p></button></div>
     <div class="center"><p>{{amc}} <br>{{ape}}</p></div>

     <div class="center"><p>*This is just an experimental only!! DO NOT make ANY decisions based on ANY information displayed here!!<br>
     We are not responsible for any error or omissions, or for the results obtained from  the use of this information. All information is provided "as is", with no guarantee of completeness, accuracy, timeliness or of the results obtained from the use of this information.</p></div>
 </div>



{% endblock content %}